name: build_linux
on:
  push:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: CMake configuration
        run: cmake --preset debug

      - name: Build project
        run: cmake --build --preset debug
