name: static_code_checks
on:
  pull_request:
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.12.0

      - name: Setup reviewdog
        uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - name: Run cppcheck and report
        run: |
          export REVIEWDOG_GITHUB_API_TOKEN="${{ secrets.REVIEWDOG_GITHUB_TOKEN }}"
          script/run_cppcheck_all.sh 2>&1 | reviewdog -efm="%f:%l:%c: %m" -name="cppcheck" -reporter=github-pr-review -level="warning"

      - name: Run cpplint and report
        run: |
          export REVIEWDOG_GITHUB_API_TOKEN="${{ secrets.REVIEWDOG_GITHUB_TOKEN }}"
          script/run_cpplint_all.sh 2>&1 | reviewdog -efm="%f:%l: %m" -name="cpplint" -reporter=github-pr-review -level="warning"
